<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>Chatty 익명채팅</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFJ6NBV11R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CFJ6NBV11R');
  </script>
  <script>
    // Mobile Height Config
    let timeoutId = null;
    const mobileHeight = () => {
      if (timeoutId) {
        clearTimeout(timeoutId); // avoid execution of previous timeouts
      }
      timeoutId = setTimeout(() => {
        const doc = document.documentElement;
        doc.style.setProperty('--mobile-height', `${window.innerHeight}px`)
      }, 200);
    };
    window.addEventListener('resize', mobileHeight);
    mobileHeight();
  </script>
  <script type="module" crossorigin src="/assets/index.9d38cfe1.js"></script>
  <link rel="stylesheet" href="/assets/index.5a47fb1c.css">
</head>

<body>
  <div id="root"></div>
  <div id="modal-root"></div>
  <div id="toast"></div>
  
</body>

</html>